<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link href="/styles/homepage.css" type="text/css" rel="stylesheet">
	<link href="/styles/animations.css" type="text/css" rel="stylesheet">
	<link href="/styles/eventlog.css" type="text/css" rel="stylesheet">
	<title> Js-bet </title>
	<!-- <script src="/js/htmx.min.js"></script> -->
	<!-- <script src="/js/hx-sse.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@next/dist/htmx.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@next/dist/ext/hx-sse.js"></script>
</head>

<body>
	<nav id="nav-header" data-hx-boost:inherited="true">
		<a href="/user/about"> About</a>
		<a href="/user/stats"> Stats</a>
		<h1>Welcome to <br>Js.Bet!</h1>
		<a href="/user/login"> Login</a>
		<a href="/user/source"> Source</a>
	</nav>
	<div id="game" data-hx-sse:connect="/game">
		<div id="fighter-sides"></div>
		<div id="eventlog"></div>
	</div>

	<div id="left-bet" class="bet">
		Bet on Left!
		<form data-hx-post="/placeBet">
			<input hidden name="betside" value="left">
			<input required name="betamount" placeholder="10" type="number">
			<button>Place Bet</button>
		</form>
	</div>
	<div id="right-bet" class="bet">
		Bet on Right!
		<form data-hx-post="/placeBet">
			<input hidden name="betside" value="right">
			<input required name="betamount" placeholder="10" type="number">
			<button>Place Bet</button>
		</form>
	</div>

	<div id="popup" hidden></div>
	<div id="audio-players">
		<audio id="attack-player">
			<source src="./audio/attack.wav" type="audio/wav">
		</audio>
		<audio id="block-player">
			<source src="./audio/block.wav" type="audio/wav">
		</audio>
		<audio id="dodge-player">
			<source src="./audio/dodge.wav" type="audio/wav">
		</audio>
		<audio id="crit-player">
			<source src="./audio/crit.wav" type="audio/wav">
		</audio>
		<audio id="winner-player">
			<source src="./audio/winner.wav" type="audio/wav">
		</audio>
	</div>
</body>

</html>