

/* Keyframe definition */

@keyframes idle {
	0%,
	100% {
		transform: none;
		/* animation-timing-function: ease-in; */
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}

	50% {
		transform: translateY(15%);
	}
}


@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}


@keyframes attackleft {
	0%,
	100% {
		transform: translateX(0) rotateZ(0deg);
	}

	25% {
		transform: translateX(-25%) translateY(-25%) rotateZ(-25deg);
	}

	50% {
		transform: translateX(75%) rotateZ(25deg);
	}
}



@keyframes attackright {
	0%,
	100% {
		transform: translateX(0) rotateZ(0deg);
	}

	25% {
		transform: translateX(25%) translateY(-25%) rotateZ(25deg);
	}

	50% {
		transform: translateX(-75%) rotateZ(-25deg);
	}
}

@keyframes critleft {

	0%,
	100% {
		transform: translateX(0) rotateZ(0deg);
	}

	30% {
		transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
	}

	60% {
		transform: translateX(100%) rotateZ(45deg);
	}
}

@keyframes critright {

	0%,
	100% {
		transform: translateX(0) rotateZ(0deg);
	}

	30% {
		transform: translateX(50%) translateY(-25%) rotateZ(45deg);
	}

	60% {
		transform: translateX(-100%) rotateZ(-45deg);
	}
}

@keyframes defendleft {
	0%,
	50%,
	100% {
		transform: none;
	}
	70% {
		transform: translateX(-50px) translateY(-30px);
	}
}



@keyframes defendright {
	0%,
	50%,
	100% {
		transform: none;
	}
	70% {
		transform: translateX(50px) translateY(30px);
	}
}


@keyframes dodgeleft {
	0%,
	25%,
	100% {
		transform: none;
	}
	50% {
		transform: translateX(-50px) translateY(-30px);
	}
}


@keyframes dodgeright {

	0%,
	25%,
	100% {
		transform: none;
	}
	50% {
		transform: translateX(50px) translateY(30px);
	}
}

@keyframes ability {
	from {
		transform: rotate(0deg);	
	}
	to{
		transform: rotate(360deg);	
	}
	
}

/* Styles for animated elements */

svg {
	width: 300px;
	height: auto;
}

ul {
	overflow-anchor: auto;
}

/* Styles for signaling animations to run */

.animate-idle-left, .animate-idle-right {
	animation: idle 1s infinite;
	&.animate-wounded {
		animation: idle 1s infinite,pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-attack-left {
	animation: attackleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: attackleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}

.animate-attack-right {
	animation: attackright 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: attackright 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}

}
.animate-crit-left {
	animation: critleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: critleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-crit-right {
	animation: critright 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: critright 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-defend-left {
	animation: defendleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: defendleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-defend-right {
	animation: defendright 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: defendright 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-dodge-left {
	animation: dodgeleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: dodgeleft 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-dodge-right {
	animation: dodgeright 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: dodgeright 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
.animate-ability-left,.animate-ability-right {
	animation: ability 1s 1 cubic-bezier(0.4, 0, 0.2, 1);
	&.animate-wounded {
		animation: ability 1s 1 cubic-bezier(0.4, 0, 0.2, 1),pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	}
}
