#eventlog {
  position: fixed;
  top: 80%;
  left: 35%;
  height: var(--size-12);
  width: 30%;
  overflow-y: scroll;
  background-color: var(--gray-6);
  border: var(--border-size-3) solid white;
  border-radius: var(--radius-2);
  padding: var(--size-2) var(--size-1);

  li {
    /* font-family: var(--font-system-ui); */
    /* list-style: square; */
    list-style: none;
    margin: 0;
    border-bottom: 1px solid white;

  }
}