#fighter-sides {
  position: fixed;
  width: 100%;
  height: 100%;


  top: 10%;
  background: linear-gradient(to right, var(--left-gradient-color), var(--right-gradient-color));
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  >* {
    margin-bottom: 220px;
  }

  #left-fighter-side {
    display: flex;
    flex-direction: row;

    left: 10%;

    .fighter-inner-stats {
      /* background: gray; */
    }
  }

  #right-fighter-side {
    display: flex;
    flex-direction: row;
    left: 60%;
  }
}

.fighter-inner-stats {
  background: gray;
  padding: var(--size-4);
  border: var(--size-1) solid white;
  border-radius: var(--radius-2);
  text-align: center;

}