/* @import "https://unpkg.com/open-props"; */
/* @import "https://unpkg.com/open-props/normalize.min.css"; */
/* @import "https://unpkg.com/open-props/buttons.min.css"; */

:root {
  --primary: hsl(200 80% 50%);
  --secondary: hsl(200 80% 80%);
  --tertiary: hsl(200 80% 20%);
  --neutral: var(--gray-6);

  --text-color: #fff;
  --button-color: #55ccff;

  --left-gradient-color: #ff1111;
  --right-gradient-color: #1111ff;
}

html,
body {
  color: var(--text-color);
  font-family: var(--font-mono);
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

body {
  display: grid;
  place-content: center;
  background: var(--tertiary);
}

button {
  background: var(--primary);
  border-color: var(--secondary);
}

nav {
  inset: 0;
  position: fixed;
  background: var(--gray-6);
  height: var(--size-10);
  width: 100%;
  height: 10%;
  border-bottom: var(--border-size-3) solid white;
  overflow: hidden;


  display: grid;
  grid-template: 0px / repeat(5, minmax(100px, 1fr));

  padding-inline: 100px;
  align-content: center;
  align-items: center;


  >* {
    margin-inline: var(--size-3);
  }

  >a {
    background: var(--button-color);
    border: var(--border-size-3) solid var(--secondary);
    border-radius: var(--size-px-2);
    text-align: center;
    min-width: 10%;
    color: white;
    text-shadow: 1px 1px #303030;
    font-size: var(--size-4);
    text-decoration: none;

    outline: 1px solid var(--gray-5);
    transition: outline-width 0.1s, border-color 0.1s;
    transition-timing-function: ease-out;
  }

  >a:hover {
    outline-width: var(--border-size-3);
    border-color: white;
  }


  h1 {
    text-shadow: 1px 1px #303030;
    border: var(--border-size-3) solid var(--secondary);
    background: var(--primary);
    border-radius: var(--radius-3);
    padding: var(--size-2);
    font-size: var(--size-relative-7);
    overflow: hide;
    max-inline-size: unset;
    text-align: center;
  }

}


.bet {
  position: fixed;
  top: 70%;
  width: 20%;

  background: var(--gray-6);
  padding: var(--size-3);
  border: var(--border-size-3) solid white;
  border-radius: var(--radius-2);
  text-align: center;
  position: fixed;
  text-align: center;

  >* {
    margin-block: var(--size-2);
  }


  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--size-2);

    input {
      text-align: center;
    }

    button {
      color: white;

    }
  }
}

#left-bet {
  left: 10%;
}

#right-bet {
  left: 70%;
}
